@mixin image-display{
   background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  @mixin thumbnails{
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 550px;
}
