@import "variables.scss";
@import "mixins.scss";

body {
  font-family: $primary-font;
}

.top-header {
  background-color: $bright-orange;
  font-family: $secondary-font;
  color: $white;
  padding: 0.5rem;
  text-align: center;
}


.carousel-item {
  @include image-display;
  height: $carousel-height;
}

.img-pagne-color {
  @include thumbnails;
}

.img-technique {
  @include thumbnails;
  @include image-display;
  width: 300px;
  height: 300px;
}

.img-technique2 {
  @include thumbnails;
  @include image-display;
  width: 400px;
  height: 300px;
}

.img-nature {
  @include image-display;
  height: $img-nature-height;
  opacity: 0.8;
}

.img-teen {
  @include image-display;
  height: $carousel-height;
  color: $white;
  font-size: $font-size-title;
}

.row-content {
  padding: 10px 0;
  border-bottom: $border-groove;
}

.col-contact {
  border-right: $border-ridge;
}

.contact-us {
  color: $bright-orange;
}

.filter {
  padding: 5px 0;
  border-bottom: $border-groove;
}

.reset {
  color: $bright-orange;
}

.form-button {
  background-color: $bright-orange;
  border: $bright-orange;
  margin-right: 185px;
}

.quick-facts {
  background-color: $light-grey;
  height: 200px;
  font-size: $font-size-body-small;
}

.site-footer {
  background-color: $dark-footer;
  color: $white;
  font-size: 14px;
}
