@import "variables.scss";
@import "mixins.scss";

body {
  font-family: $primary-font;
}

.top-header {
  background-color: $dark-grey;
  font-family: $secondary-font;
  color: $white;
  padding: 0.5rem;
  text-align: center;
}

.carousel-item {
  @include image-display;
  height: $carousel-height;
}

.img-pagne-color {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 550px;
}

.img-nature {
  @include image-display;
  height: $img-nature-height;
  opacity: 0.8;
}

.img-teen {
  @include image-display;
  height: $carousel-height;
}

.site-footer {
  background-color: $dark-footer;
  color: $white;
  font-size:14px;
}
