// primary color palette
$dark-grey: #303030;
$dark-footer: #33333a;
$bright-orange: #ff6008;
$white: #fff;

// variants

// text color palette
$dark-grey: #303030;

// typography
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Lobster", cursive;

// font sizes

// spacing
$carousel-height: 85vh;
$img-nature-height: 80vh;

// shadows

// borders
